body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(181, 60, 27, 0.525) 0%, rgba(181, 60, 27, 0.525) 100%),  url("file:///C:/Users/USU%C3%81RIO/Desktop/Trabalho%20novo/Ruan%20cavalcante%20de%20sousa/ct%20antigo.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CSS do Header */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../imagens/MARACA.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro h1 {
    font-size: 60px;
    color: #ff0000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.intro p {
    font-size: 30px;
    color: #ff0000;
    text-transform: uppercase;
    margin: 20px 0;
}

/* CSS do menu */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
}

.menulinks {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.menulinks a {
    text-decoration: none;
    color: #ff0000;
    padding: 35px 20px;
}

/* CSS do centro */

.centro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 80px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(181, 60, 27, 0.525);
    margin: 0px 0;
    margin-left: 450px;
    margin-right: 450px;
}

.centro .titulo {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 5px 0;
}

.centro img {
    width: 700;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    margin: 30px;
}

/* CSS do footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 50px 80px;
}

.footer .copy {
    color: #fa0000;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.footer-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.footer-links .links span {
    font-size: 20px;
    color: #ff0000;
    text-transform: uppercase;
    margin: 10px 0;
}

.footer-links .links a {
    text-decoration: none;
    color: #ff0000;
    padding: 10px 20px;
}